#parent{
  background-color: rgb(243, 70, 98);width: 400px;height: auto;margin: auto;
  border: 2px solid;padding: 10px;display: flex;justify-content: center;
  align-content: center;border-radius: 20px;
}
.child{
  background-color:purple ;width: 300px;height: auto;border: 2px solid;text-align: center;padding: 5px;margin: auto;border-radius: 20%;
}
.button{
  width: 100px;height: 30px;border-radius: 10px;
}
.button:hover{
background-color: lightcoral;
}